html {
    --primary: rgb(255, 51, 0);
    --accent: rgba(255, 51, 0, 0.356);
    margin: auto;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}

body,
h1,
h2,
p {
    margin: 0;
    font-weight: inherit;
}


body {
    padding-top: 5rem;
    color: white;
    background: rgb(112, 0, 0);
    text-align: center;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
}

header {
    font-size: 22px;
}

header h1 {
    font-size: 3.75rem;
    margin-left: 7px;
}

header p {
    padding-top: 3rem;
}

.rounded {
    border-radius: 50%;
}

.section {
    padding-top: 3rem;
}

.center {
    display: inline-flex;
    align-items: center;
}

.link {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem;
    margin: 0 3px;
    border: 2px solid var(--primary);
    border-radius: 0.25rem;
}


.link:hover {
    background-color: var(--accent);
}

.link span {
    color: white;
    font-weight: bold;
    padding-left: 0.5rem;
}

.item {
    min-width: 200px;
    max-width: 300px;
    height: fit-content;
    justify-self: center;
    text-align: center;
    line-height: 1;
    margin: 1.5rem 0.5rem;
    border-radius: 0.25rem;
    border: 2px solid var(--primary);
}

.item .item-icon {
    display: inline-block;
    height: 80px;
    padding: 10px;
    margin-top: 15px;
}

.item a:first-of-type {
    margin-top: 10px;
}

.item a:last-of-type {
    margin: 15px;
}

.item h2 {
    font-size: large;
    font-weight: bold;
}

.item h2:first-child {
    margin-top: 20px;
}

.item p {
    padding: 10px;
}

.item .badge {
    display: inline-block;
    background-color: var(--primary);
    border-radius: 10px;
    margin-top: 5px;
    padding: 3px 7px;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(2000, end), .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  

